aiosqlite
alembic
anyio
appdirs
apprise
asgi-lifespan
asyncpg
attrs
audioread
awscli
backports.zoneinfo
blinker
boto3
botocore
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
cmaes
colorama
coloredlogs
colorlog
contourpy
coolname
croniter
cryptography
cycler
dask
databricks-cli
dateparser
decorator
distlib
distributed
docker
docutils
entrypoints
exceptiongroup
fastapi
filelock
flask
flatbuffers
fonttools
fsspec
gitdb
gitpython
google-auth
greenlet
griffe
gunicorn
h11
h2
hpack
httpcore
httpx
humanfriendly
hyperframe
idna
imageio
imageio-ffmpeg
imbalanced-learn
imblearn
importlib-metadata
importlib-resources
iniconfig
itsdangerous
jinja2
jmespath
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kiwisolver
kubernetes
lazy-loader
librosa
llvmlite
locket
mako
markdown
markdown-it-py
markupsafe
matplotlib
mdurl
mlflow
moviepy
mpmath
msgpack
numba
numpy
oauthlib
onnx
onnxconverter-common
onnxmltools
onnxruntime
optuna
orjson
packaging
pandas
partd
pathspec
pendulum
pillow
pipenv
pkgutil-resolve-name
platformdirs
pluggy
pooch
prefect
prefect-dask
proglog
protobuf
psutil
pyarrow
pyasn1
pyasn1-modules
pycparser
pydantic
pydub
pygments
pyjwt
pyparsing
pytest
python-dateutil
python-slugify
pytz
pytzdata
pyyaml
querystring-parser
readchar
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
ruamel.yaml
ruamel.yaml.clib
s3transfer
scikit-learn
scipy
six
skl2onnx
smmap
sniffio
sortedcontainers
soundfile
soxr
sqlalchemy
sqlparse
starlette
sympy
tabulate
tblib
text-unidecode
threadpoolctl
toml
tomli
toolz
tornado
tqdm
typer
typing-extensions
tzdata
tzlocal
urllib3
uvicorn
virtualenv
virtualenv-clone
websocket-client
websockets
werkzeug
xgboost
zict
zipp
progressbar2

# Dev packages
mypy
pylint
flake8
pre-commit
isort
black
pytest-cov
